EVE_CLIENT_ID={{ EVE_CLIENT_ID }}
EVE_SECRET_KEY={{ EVE_SECRET_KEY }}
SIGN_SECRET=Hashing
VIRTUAL_HOST={{ API_VIRTUAL_HOST }}
VIRTUAL_PORT=3000
FRONTEND_URI=http://{{ DEFAULT_HOST }}
NODE_ENV=production
RETHINKDB=db
NAME={{ NAME}}
CORPORATION_ID={{ CORPORATION_ID }}
ALLIANCE_ID={{ ALLIANCE_ID }}
LETSENCRYPT_HOST={{ DEFAULT_HOST }},{{ API_VIRTUAL_HOST }}
LETSENCRYPT_EMAIL={{ DOMAIN_EMAIL }}
LETSENCRYPT_TEST=true